@import './reset';
@import '../variables/global';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap';

/* stylelint-disable */
html {
    background: var(--color-light-gray);
}
.app {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 15px;
}

.main-bg-wrapper {
    background: url('../../shared/assets/images/bg/main-bg.jpg') center center/cover no-repeat;
}

.title {
    color: var(--color-dark-ultramarine);
    font: var(--font-40-57);
    font-weight: 700;
    letter-spacing: 0.2px;
}

.text {
    font: var(--font-14-20);
    font-weight: 500;
    letter-spacing: 0.2px;
    color: var(--color-gray);
}

.button {
    letter-spacing: 0.2px;
    transition: all 0.1s ease;
    cursor: pointer;
    
    &:hover {
        filter: saturate(150%);
        transform: scale(1.05);
    }
    
    &:active {
        filter: none;
        opacity: 0.9;
        transform: scale(0.99);
    }
}