.Advantages {
    margin-top: -111px;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 315px));
        justify-content: center;
        gap: 30px;
    }
    
    &__item {
        padding: 35px 40px;
        display: flex;
        flex-direction: column;
        background: var(--bg-white);

        img {
            max-width: 50px;
            max-height: 50px;
            user-select: none;
        }
        
        h3 {
            color: var(--title-color);
            font: var(--font-24-32);
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.1px;
            margin-top: 15px;
        }
        
        p {
            font: var(--font-14-20);
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: var(--text-color-gray);
            margin-top: 10px;
        }
        
                
        &:nth-child(3) {
            background: var(--text-color-dark-turquoise);

            h3 {
                color: var(--text-color-white);
            }
            
            p {
                color: var(--text-color-white);
                
            }
        }
    }
}