.Statistics {
    padding: 80px 0;
    
    &__grid {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(auto-fit, 225px);
        justify-content: center;
        margin-top: 50px;
    }

    &__title {
        text-align: center;
    }
    
    &__subtitle {
        max-width: 511px;
        text-align: center;
        margin: 10px auto 0;
    }
    
    &__item {
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-white);

        img {
            max-width: 50px;
            max-height: 50px;
        }
        
        h2 {
            margin-top: 10px;
        }
        
        p {
            font: var(--font-16-24);
            color: var(--color-gray);
            text-align: center;
            font-weight: 700;
            letter-spacing: 0.1px;
            margin-top: 10px;
        }
    }
}
@media(width<= 400px) {

    .Statistics {

        &__title {
            font: var(--font-24-32);
        }
        
        &__grid {
            gap: 20px;
        }
    }
}