.Support {
    padding: 80px 0;

    &__title {
        text-align: center;
    }
    
    &__subtitle {
        max-width: 511px;
        margin: 15px auto 0;
        text-align: center;
    }
    
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    
    &__item {
        max-width: 328px;
        min-height: 333px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 40px;
        background: var(--color-white);

        img {
            width: 72px;
            height: 72px;
        }
        
        p {
            margin-top: 15px;
            color: var(--color-dark-ultramarine);
            font: var(--font-14-24);
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.2px;
        }
        
        h5 {
            margin-top: 15px;
            color: var(--color-dark-ultramarine);
            font: var(--font-16-24);
            text-align: center;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.1px;
        }
        
        button {
            margin-top: 25px;
            padding: 10px 20px;
            border: 1px solid var(--color-orange);
            color: var(--color-orange);
            background: var(--color-white);
            border-radius: 5px;
        }
        
        &:nth-child(2) {
            min-height: 393px;
            background: var(--color-dark-ultramarine);
            
            p {
                color: var(--color-white);
            }
            
            h5 {
                color: var(--color-white);
            }
            
            button {
                color: var(--color-white);
                background: var(--color-dark-ultramarine);
                border: 1px solid var(--color-white);
            }
        }
    }
}
@media(width<= 1150px) {

    .Support {

        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }
    }
}
@media(width<= 350px) {

    .Support {

        &__item {
            padding: 30px 20px;
        }
    }
}